{{{body}}}

<div class="container">
      <div class="row">
        <h1 style="color: navy">Registration Numbers</h1>
      </div>
      <hr>
      <div class="row">
        <label for="LocationInput">Please Select A Location</label>
      </div>
      <div class="row">
        <form class="" action="/registration_numbers" method="post">
         <div class="townRadios">
           <input type="radio" value="cape town" name="townsBtn" class="eachRadio" id="radio1">
            <label for="radio1">Cape Town</label>
           <input type="radio" value="paarl" name="townsBtn" class="eachRadio" id="radio2">
            <label for="radio2">Paarl</label>
           <input type="radio" value="bellville" name="townsBtn" class="eachRadio" id="radio3">
            <label for="radio3">Bellville</label>
           <input type="radio" value="stellenbosch" name="townsBtn" class="eachRadio" id="radio4">
            <label for="radio4">Stellenbosch</label>
         </div>
      </div>
      <div class="row">
        <label for="RegInput">Please Enter A Registration Number</label>
      </div>
      <div class="alert-box">
      <div class="alert">{{messages.location}}</div>
      <div class="alert">{{messages.regNum}}</div>
      <div class="confirmMsg">{{confirm}}</div>
      </div>
      <div class="row">
         <input type="text" name="regNumberInput" value="" class="col-4" placeholder="CA123">
      </div>
      <div class="row">
        <button type="submit" name="AddBtn" class="col-4">ADD</button>
        </form>
        <form action="/clear" method="post">
        <button type="submit" name="clearBtn" class="col-3">RESET</button>
        </form>
      </div>
      <hr>
      <div class="row dropList">
        <form action="/filter" method="get">
        <button type="submit" name="locationBtn" class="locateBtn">Filter Registrations By Location</button>
        <div class="">
          <ul class="locationsAdd">
            {{#each town}}
            <li><a href="/filter/{{town_name}}">{{town_name}}</a></li>
            {{/each}}
          </ul>
        </div>
        </form>
      </div>
         <div class="row divDisplay">
          <table>
              {{#each registration}}
              <td>{{reg_number}}</td>
              {{/each}}
          </table>
      </div>
    </div>
     {{!-- pattern="[A-Z a-z]{12,}" title="Please complete the validation code: e.g, start with CA" --}}
    