{{{body}}}

<div class="container">
      <div class="row">
        <h1 style="color: navy">Registration Numbers</h1>
      </div>
      <div class="row">
        <label for="LocationInput">Please Enter A Location</label>
        <label for="restrictInput" class="restrictPosition">Set Restrictions For A Location</label>
      </div>
      <div class="row">
        <form class="" action="/registration_numbers" method="post">
         <input type="text" name="townInput" value="" class="col-4" placeholder="Cape Town">
         <input type="text" name="restrictInput" list="restrictOptions" value="" class="col-5" placeholder="registration numbers should... ">
         <datalist id="restrictOptions">
           <option value="start with "></option>
           <option value="end with "></option>
         </datalist>
      </div>
      <div class="restrictCaption"><i class="fas fa-info-circle"></i> start with CA</div>
      <div class="row">
        
        <label for="RegInput">Please Enter A Registration Number</label>
      </div>
      <div class="alert-box">
      <div class="alert">{{messages.location}}</div>
      <div class="alert">{{messages.validReg}}</div>
      <div class="alert">{{messages.regNum}}</div>
      </div>
      <div class="row">
         <input type="text" name="regNumberInput" value="" class="col-4" placeholder="CA123">
      </div>
      <div class="row">
        <button type="submit" name="AddBtn" class="col-4">ADD</button>
        </form>
        <form action="/clear" method="post">
        <button type="submit" name="clearBtn" class="col-3">RESET</button>
        </form>
      </div>
      <div class="row dropList">
        <form action="/filter" method="get">
        <button type="submit" name="locationBtn" class="locateBtn">Please Select A Location</button>
        <div class="locationList">
          <ul class="locationsAdd">
            {{#each town}}
            <li><a href="/filter/{{town_name}}">{{town_name}}</a></li>
            {{/each}}
          </ul>
        </div>
        </form>
      </div>
      <div class="row divDisplay">
          <table>
              {{#each registration}}
              <td>{{reg_number}}</td>
              {{/each}}
          </table>
      </div>
    </div>
    